.btn_sidebar{
  margin-top: 10px;
  width: 150px;
  height: 30px;
  margin-left: -15px;
  border: none;
  /* background-color: ; */
}

.btnAdd_sidebar{
  margin-top: 50px;
  width: 150px;
  height: 30px;
  margin-left: 20px;
  border: none;
}

.dess_item{
  margin-left: -39px;
  width: 237px;
  height: 120px;
  background-color: aqua;
  justify-content: space-between;
  
  list-style-type: none;
}